body {
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 18px;
  line-height: normal;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

.container {
   max-width: 960px;
   margin: 0 auto;
}

/* Logo/Company Name */

.logo {
  background-color: black;
  }

.logo .container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5em;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo h4 {
  padding: 0.66rem 0;
}

/* Main Banner */

.banner {
  background-image: url('../images/moto.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.banner-text {
    background-color: black;
    color: white;
    width: 20rem;
    padding: 2rem 3rem;
    position: relative;
    top: 9rem;
}

.banner-text h2 {
  padding-top: 0.25rem;
}

/* Navigation Menu */

nav {
  background-color: firebrick;
  padding: 20px;
  z-index: 5;
  max-width: 960px;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: transparent; */
  padding: 0.75em 0;
}

nav a {
  color: white;
  text-decoration: none;
}

.tablet-nav {
  display: none;
}

/* Nav display changes for smaller screens */

@media only screen and (max-width: 1024px)
{
  nav ul {
    display: none;
  }
  .tablet-nav {
    display: block;
    text-align: center;
  }
}

/* Products/Gadgets */

.gadgets {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.gadget {
  width: 30%;
}

.gadget-image {
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

.gadget-image img {
  max-width: 8rem;
}

.gadget-text {
  background-color: black;
  display: block;
  text-align: center;
  padding: 0.5rem;
}

/* Company info */

.info-type {
  display: flex;
  justify-content: flex-start;
  margin: 3rem 0 0 0;
}

.info {
  width: 35%;
  padding-right: 15%;
}

.info-head {
  background-color: black;
  display: block;
  text-align: left;
  padding: 0.5em 0.5em 0.5em 1.5em;
}

.info-text {
  display: block;
  text-align: left;
  padding: 0.5rem;
  color: black;
}

/* Footer */

.footer {
  background-color: black;
  color: white;
  position: relative;
  align-self: center;
  align-items: center;
  padding: 2.5rem 0;
  margin-top: 4rem;
}

/* Screen size changes for 1024px (tablet) screens */

@media only screen and (max-width: 1024px)
{
  .gadget {
    width: 47%;
  }
  .gadget.glasses {
    display: none;
  }
}

/* Screen size changes for 470px (mobile) width */
@media only screen and (max-width: 470px)
{
  .gadget {
    width: 90%;
    background-color: purple;
  }
  .gadget.glasses {
    display: none;
    background-color: green;
  }
  .gadget.watch {
    display: none;
    background-color: blue;
  }

}
